@using iTransition.Forms.Web.Areas.Admin.Models.TemplateModels
@model TemplateCreateModel

@{
    ViewData["Title"] = "Create new template";
}

<div class="container-fluid">
    <div class="card">
        <div class="card-header">
            <h3 class="card-title">Create New Template</h3>
        </div>
        @if (TempData["ErrorMessage"] != null)
        {
            <div class="alert alert-danger">
                @TempData["ErrorMessage"]
            </div>
        }
        <form enctype="multipart/form-data" asp-antiforgery="true" asp-area="Admin" asp-controller="Template" asp-action="Create" method="post" id="createForm">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-8">
                        <div class="mb-2">
                            <label asp-for="Name" class="form-label"></label>
                            <input asp-for="Name" type="text" class="form-control">
                            <span asp-validation-for="Name" class="text-danger"></span>
                        </div>
                        <div class="mb-2">
                            <label asp-for="Description" class="form-label"></label>
                            <input asp-for="Description" class="form-control">
                            <span asp-validation-for="Description" class="text-danger"></span>
                        </div>
                        <div class="mb-0">
                            <label asp-for="IsPublic" class="form-label"></label>
                            <div class="form-check">
                                <input class="form-check-input text-danger" type="radio" name="IsPublic" id="radioPublic" value="true" @(Model.IsPublic ? "checked" : "") />
                                <label class="form-check-label" for="radioPublic">Public</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input text-danger" type="radio" name="IsPublic" id="radioPrivate" value="false" @(!Model.IsPublic ? "checked" : "") />
                                <label class="form-check-label" for="radioPrivate">Private</label>
                            </div>
                            <span asp-validation-for="IsPublic" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="mb-2 position-relative" style="max-width: 300px;">
                            <img id="imagePreview"
                                 src="#"
                                 alt="Image Preview"
                                 class="img-thumbnail"
                                 style="width: 100%; height: 180px; object-fit: contain; background-color: #f8f9fa; border: 1px solid #ccc;" />

                            <button type="button"
                                    id="removeImage"
                                    class="btn btn-sm btn-outline-danger position-absolute"
                                    style="top: 1px; right: 1px; display: none;">
                                &times;
                            </button>
                        </div>

                        <div class="mb-0">
                            <label asp-for="picture" class="form-label fw-semibold"></label>
                            <input asp-for="picture" type="file" class="form-control" accept="image/*" id="imageInput" />
                            <span asp-validation-for="picture" class="text-danger small"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 mb-3">
                        <label asp-for="TopicId" class="form-label"></label>
                        <select asp-for="TopicId" asp-items="Model.Topics" class="form-select">
                            <option selected value="">Select a topic</option>
                        </select>
                        <span asp-validation-for="TopicId" class="text-danger"></span>
                    </div>
                    <div class="col md-6 mb-3">
                        <label asp-for="TagIds" class="form-label">Tags</label>
                        <input type="text" id="TagIds" class="form-control" placeholder="Type to search tags..." autocomplete="true" />

                        <div id="selectedTags" class="d-flex flex-wrap gap-2 mt-2"></div>
                        <div id="hiddenTagInputs"></div>
                        <span asp-validation-for="TagIds" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="card-footer">
                <div class="d-flex">
                    <button type="submit" name="action" value="save" class="btn btn-sm btn-outline-info px-4 me-4">Save</button>
                    <a class="btn btn-sm btn-outline-danger px-4" asp-area="Admin" asp-controller="Template" asp-action="Index">Cancel</a>
                </div>
            </div>
        </form>
    </div>
</div>

@section Styles {
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.10.0/css/bootstrap-datepicker3.standalone.min.css" />
    <style>
        #imagePreview {
            width: 100%;
            height: 180px;
            object-fit: contain;
            border: 1px solid #ccc;
            background-color: #f8f9fa;
            display: block;
        }
    </style>

}

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script src="~/js/templatecreation.js"></script>
}
