@using iTransition.Forms.Web.Models.Topic
@{
    ViewData["Title"] = "Topics";
}

<section class="content">
    <div class="container-fluid">
        <partial name="./_CreateTopicModal.cshtml" />
        <partial name="../Shared/_ResponsePartial.cshtml" />

        <div class="row">
            <div class="col-12">
                <div class="card-header">
                    <div class="row">
                        <div class="col-sm-12 col-md-10">
                            <h3 class="card-title">Topic List</h3>
                        </div>
                        <div class="col-sm-12 col-md-2 d-flex justify-content-end">
                            <a class="btn btn-sm btn-outline-info" data-bs-toggle="modal" data-bs-target="#createTopicModal">
                                <i class="bi bi-plus"></i> Add
                            </a>
                        </div>
                    </div>
                </div>

                <div class="card-body">
                    <table id="topicTable" class="table table-sm table-hover">
                        <thead class="table-header">
                            <tr>
                                <th class="col-11">Name</th>
                                <th class="text-center">Action</th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>

@section styles {
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.6/css/jquery.dataTables.min.css" />
}

@section Scripts {
    <script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>    

    <script>
        $(document).ready(function () {
                    $('#topicTable').DataTable({
            processing: true,
            serverSide: true,
            searching: false,
            lengthChange: false,
            ajax: {
                url: '@Url.Action("GetTopicJsonData", "Topic")',
                type: 'POST',
                contentType: 'application/json',
                data: function (d) {
                    return JSON.stringify(d);
                }
            },
            columns: [
                { data: 0 },
                {
                    data: 1,
                    className: 'text-center',
                    orderable: false,
                    searchable: false,
                    render: function (data, type, row, meta) {
                        return '<div class="d-flex justify-content-center gap-2">' +
                               '<a href="/Topic/Delete/' + data + '" class="btn btn-sm btn-outline-danger"><i class="bi bi-trash"></i></a>' +
                               '</div>';
                    }
                }
            ]
        });
    </script>
}